
@import 'leaflet/dist/leaflet.css';


:root {
  --background: linear-gradient(to bottom right, red, blue);
  --foreground: #76461b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom right, #dc0e0b, #dc0e0b, #fefdfd,  #1e3a8a,#1e3a8a, #fefdfd);
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
}

body { 
  background: var(--background); 
  color: var(--foreground); 
  font-family: Arial, Helvetica, sans-serif; 
}

.lightbug-image {
  object-fit: contain;
  pointer-events: none; 
}

