
@import 'leaflet/dist/leaflet.css';


:root {
  --background: linear-gradient(to bottom right, red, blue);
  --foreground: #76461b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom right, #dc0e0b, #dc0e0b, #fefdfd,  #1e3a8a,#1e3a8a, #fefdfd);
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden; 
}

body { 
  background: var(--background); 
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--foreground); 
  font-family: Arial, Helvetica, sans-serif; 
}

.lightbug-image {
  object-fit: contain;
  pointer-events: none; 
}


.auth-button {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ffcc00;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 1rem;
}


.auth-button:hover {
  background-color: #e6b800;
}


