.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background-color: rgb(0, 0, 0);
  color: var(--foreground);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logo {
  object-fit: contain;
}

.navbar-right {
  display: flex;
  gap: 20px;
}

.nav-button {
  background: transparent;
  border: none;
  color: var(--foreground);
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav-button:hover {
  color: #ffcc00;
}
